*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Segoe UI',sans-serif;
background:#050816;
color:white;
min-height:100vh;
overflow-x:hidden;
}

body::before{
content:"";
position:fixed;
inset:0;

background:
linear-gradient(rgba(255,255,255,.04) 1px,transparent 1px),
linear-gradient(90deg,rgba(255,255,255,.04) 1px,transparent 1px);

background-size:50px 50px;

z-index:-2;
}

.hero{
padding:80px 20px;
text-align:center;
}

.badge{

display:inline-block;

padding:10px 20px;

border:1px solid #00e5ff;

border-radius:30px;

color:#00e5ff;

margin-bottom:20px;
}

.hero h1{

font-size:clamp(3rem,8vw,6rem);

color:#00e5ff;

text-shadow:
0 0 10px #00e5ff,
0 0 25px #00e5ff;
}

.hero p{

margin-top:15px;

color:#b4c4dd;
}

.container{

width:90%;

max-width:1300px;

margin:auto;
}

.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;
}

.card{

text-decoration:none;

color:white;

padding:35px;

border-radius:25px;

transition:.4s;

background:
rgba(255,255,255,.03);

backdrop-filter:blur(15px);
}

.card:hover{

transform:
translateY(-8px);
}

.icon{

font-size:4rem;

margin-bottom:15px;
}

.card h2{

margin-bottom:15px;
}

.cyan{
border:1px solid #00e5ff;
}

.purple{
border:1px solid #ff4dff;
}

.green{
border:1px solid #32ff6a;
}

footer{

text-align:center;

padding:50px;

color:#9ca9c0;
}